{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <h3 class="p-3 mb-2 bg-secondary text-white">Login</h3>

    <form method="post" >

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-group" type="text" name ="username_reg" placeholder="Username">
        </div>

        <div class="form-group">
            <input autocomplete="off" class="form-group" type="password" name ="password_reg" placeholder="Password">
        </div>

        <div class="form-group">
            <input autocomplete="off" class="form-group" type="password" name ="address_reg" placeholder="Address">
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" name="action" value="register">Register</button>
        </div>

    </form>

    <form method="post">

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-group" type="text" name ="username_login" placeholder="Username">
        </div>

        <div class="form-group">
            <input autocomplete="off" class="form-group" type="password" name ="password_login" placeholder="Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" name="action" value="login">Log in</button>
        </div>

    </form>
{% endblock %}
